@tailwind base;
@tailwind components;
@tailwind utilities;

.card_front {
  backface-visibility: hidden;
  transform: rotateY(0deg);
}
.card_container:hover .card_front {
  transform: rotateY(180deg);
}
.card_back {
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}
.card_container:hover .card_back {
  transform: rotateY(0deg);
}

.topBorder {
  border-top: 1px gray solid;
}
